*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header1{
    background-color: #a7a7a7;
    color: #fff;
    height: 10vh;
    width: 20vw;
    float: left;
    font-size: 25px;
}

.header2{
    background-color: #a7a7a7;
    color: #fff;
    height: 10vh;
    width: 100vw;
        
} 
.header1 h1{
    padding: 20px;
    text-align: left;
}

.header2 h2{
    padding: 20px;
    text-align: right;
}

aside{
    background-color: #ffffff;
    width: 30vw;
    float: left;
    height: 80vh;
}
main{
    margin-left: 31vw;
    background-color: rgb(147, 197, 255);
    width: 69vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blokimain {
    background-color: white;
    border-radius: 50px;
    box-shadow: black 5px 5px 15px;
    border: 3px solid black;
    width: 50vw;
    height: 70vh;
    animation: fade 0.5s ease-in;
    overflow: auto;
    text-align: center;
}
footer{
    background-color: #a7a7a7;
    color: #fff;
    text-align: center;
    clear: both;
    height: 10vh;

}

.a1,.a2,.a3{
    display: block;
    padding: 25px;
    background-color: rgb(139, 139, 139);
    margin-top: 23%;
    margin-left: 25px;
    color: white;
    transition: 0.5s;
    border-radius: 40px;
    box-shadow: 5px 5px 15px black;
    
}

.a1:hover,.a2:hover,.a3:hover{
    background-color: rgb(62, 130, 255);
    box-shadow: 0px 0px 30px rgb(30, 120, 255);
    transition: 0.5s;
}



.active {
  display: block;
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

.produkt{
    background-color: white;
    border-radius: 30px;
    box-shadow: black 5px 5px 15px;
    border: 3px solid black;
    width: 20vw;
    height: 30vh;
    margin-left: 40px;
    margin-bottom: 40px;
    float: left;

}

.produkt img{
    width: 200px;
    height: 100px;
}