*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header1{
    background-color: #a7a7a7;
    color: #fff;
    height: 10vh;
    width: 20vw;
    float: left;
    font-size: 25px;
    
}

.header2{
    background-color: #a7a7a7;
    color: #fff;
    height: 10vh;
    width: 100vw;
    
} 
.header1 h1{
    padding: 20px;
    text-align: left;
}

.header2 h2{
    padding: 20px;
    text-align: right;
    font-size: 40px;
}

.avatar{
    width: 60px;
    height: 60px;
    border-radius: 20px;
}

.logout{
    background-color: white;
    padding: 7px;
    border-radius: 40px;
    margin-top: 10px;
    color: rgb(255, 0, 0);
    font-size: 14px;
    margin-left: 50px;
    

}

aside{
    background-color: #ffffff;
    width: 30vw;
    float: left;
    height: 80vh;
    
}
main{
    margin-left: 31vw;
    background-color: rgb(147, 197, 255);
    width: 68.8vw;
    border-left: 0.2vw solid black;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.blokimain {
    background-color: white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: black 5px 5px 15px;
    border: 3px solid black;
    width: 50vw;
    height: 70vh;
    animation: fade 0.5s ease-in;
    overflow: auto;
    text-align: center;
}

.blokimain h2{
    padding: 20px;
    text-align: center;
}



footer{
    background-color: #a7a7a7;
    color: #fff;
    text-align: center;
    clear: both;
    height: 10vh;
}

.a1,.a2,.a3{
    display: block;
    padding: 25px;
    background-color: rgb(139, 139, 139);
    margin-top: 23%;
    margin-left: 25px;
    color: white;
    transition: 0.5s;
    border-radius: 40px;
    box-shadow: 5px 5px 15px black;
    
}

.a1:hover,.a2:hover,.a3:hover{
    background-color: rgb(62, 130, 255);
    box-shadow: 0px 0px 30px rgb(30, 120, 255);
    transition: 0.5s;
}



.active {
  display: block;
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

.produkt{
    background-color: white;
    border-radius: 30px;
    box-shadow: black 5px 5px 15px;
    border: 3px solid black;
    width: 20vw;
    height: auto;
    margin-left: 40px;
    margin-bottom: 40px;
    float: left;
    transition: 0.5s;

}

.produkt:hover{
    box-shadow: 0px 0px 30px rgb(0, 102, 255);
    
}

.produkt img{
    width: 200px;
    height: 100px;
}

.produkt p{
    font-weight: bold;
}

.paragraf1, .paragraf2{
    font-size: 30px;
    
}

.paragraf3{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;

}   

.submit{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    color: black;
    transition: 0.5s;
    font-size: large;

}

.submit:hover{
    background-color: rgb(105, 187, 255);
    transition: 0.5s;
}

.pola{
    background-color: white;
    border: 3px solid black;
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.uzytkownik{
    background-color: white;
    border-radius: 30px;
    box-shadow: black 5px 5px 15px;
    border: 3px solid black;
    width: 17vw;
    height: 30vh;
    margin-left: 8%;
    margin-bottom: 40px;
    float: left;
    text-align: left;
    padding: 15px;
    transition: 0.5s;
}
.uzytkownik:hover{
    box-shadow: 0px 0px 30px rgb(0, 102, 255);
    
}

.uzytkownik img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

